div#banner {
	background-image: url(../img/capa2.jpg);
	background-position: center;
	width: 100%;
	height: 600px;
	position: relative;
}

div.caixa-container {
	width: 400px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.caixa-background {
	width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    position: relative;
}

div.caixa-title {
	position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    color: #FFF;
    padding-top: 65px;
}

.titulo-header {
	font-size: 25px;
	margin-bottom: 15px;
}

.paragrafo-header {
	font-size: 18px;
}

div.caixa-inform-container {
	position: absolute;
	bottom: 0;
	width: 99.9%;
    height: 160px;
}

div.caixa-background2 {
	position: relative;
	background-color: #DDD;
    opacity: .7;
	width: 100%;
    height: 100%;
}

div.inform-title {
	position: absolute;
	text-align: center;
	width: 450px;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titulo-inform {
	font-size: 20px;
	margin-bottom: 15px;
}

div.container-servicos {
	max-width: 1200px;
    padding: 30px 10%;
    padding-bottom: 0px;
}

div.area-servicos {
	width: 100%;
    position: relative;
    clear: both;
    height: 180px;
    margin-bottom: 30px;
}

div.titulo-servico {
	width: 40%;
    height: 85%;
    background-color: #DDD;
    float: left;
    text-align: center;
    line-height: 17px;
    padding: 20px;
	padding-top: 55px;
    box-sizing: border-box;
}

div.titulo-servico h2{
    color: #FFF;
    font-size: 18px;
    line-height: 24px;
}

div.descricao-servico {
	width: 60%;
    float: right;
	padding: 0px 15px;
    box-sizing: border-box;
}

div.descricao-servico h2 {
	margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
div.descricao-servico p {
	font-size: 14px;
    line-height: 15px;
}

div#caixa-gerenciamento {
	background-color: rgb(23, 58, 255);
}

div#caixa-dev  {
	background-color: rgb(66, 137, 218);
}

div#caixa-ux-ui {
	background-color: rgb(0, 157, 255);
}

#titulo-gerenciamento {
	color: rgb(23, 58, 255);;
}

#titulo-dev {
	color: rgb(66, 137, 218);
}

#titulo-ux-ui {
	color: rgb(0, 157, 255);
}

.rodape-container {
	background-image: url('../img/rodape.jpg');
    background-position: center;
}

.sobre-container {
    max-width: 1200px;
    padding: 30px 10%;
    position: relative;
    clear: both;
}

.about-card {
    float: left;
    width: 30%;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    box-sizing: border-box;
}

.middle-card {
    margin-left: 5%;
    margin-right: 5%;
}

.about-card i {
    font-size: 50px;
    color: #AAA;
}

.about-card p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #888;
    text-align: left;
}

/* Footer */

footer {
    clear: both;
    max-width: 1200px;
    height: 500px;
    padding: 30px 10%;
    position: relative;
}

.form-container {
    width: 80%;
    height: 375px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    display: block;
}

.form-background {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: .5;
}

.form-container form {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 300px;
}

.form-container input, .form-container textarea {
    width: 330px;
    display: block;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #AAA;
    border-radius: 0;
    background-color: transparent;
}

.form-container textarea {
    height: 120px;
}

.form-container input::placeholder, .form-container textarea::placeholder {
    font-size: 14px;
}

.form-container .submit {
    background-color: #222;
    color: #FFF;
    border: 1px solid transparent;
    width: 100px;
    position: relative;
    float: right;
    cursor: pointer;
    transition: .5s;
}

.form-container .submit:hover {
    background-color: #FFF;
    color: #222;
    border: 1px solid #222;
}

.copyright {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;  
    bottom: 30px; 
    margin-left: auto;
    margin-right: auto;
}